@import "./color_schemes/dark";

$body-background-color: #0a121e;
$sidebar-color: #0e1827;
$border-color: #233a56;
$body-heading-color: #f5f8fc;
$body-text-color: #cdd8e6;
$link-color: #00aeef;
$nav-child-link-color: #7d8fa3;
$search-result-preview-color: #7d8fa3;
$search-background-color: #142338;
$code-background-color: #142236;
$table-background-color: #0e1827;
$feedback-color: #0a121e;
$btn-primary-color: #0c4c87;
